.outer-container {
    padding: 40px 5px 5px 5px;
}

section {
    padding: 5px;
}

button {
    margin: 5px 10px;
}

.vehicle-item {
    width: 200px;
    float: left;
    margin-right: 70px;
    margin-bottom: 25px;
}

.succes {
    color: green;
}

.error {
    color: red;
}

.number {
    width: 35px;
    height: 35px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 27px;
    border: 1px black solid;
    background: #00a200;
    color: black;
    font-weight: bolder;
    font-size: 26px;

}