.outer-container {
    padding: 40px 5px 5px 5px;
}

section {
    padding: 5px;
}

button {
    margin: 5px 10px;
}

.vehicle-item {
    width: 200px;
    float: left;
    margin-right: 70px;
    margin-bottom: 25px;
}

.succes {
    color: green;
}

.error {
    color: red;
}