<div class="outer-container">
    <section>
        <label class="portal-header">Vehicle Change history {{carId}}</label>
    </section>

    <section style="margin-top: 35px; overflow-x: scroll;">
        <div style="float: none; display: table-cell; padding-right: 40px;" *ngFor="let item of vehicleArray" class="vehicle-item">
            <div style="margin-bottom: 5px;"><span class="number">{{item.state}}</span></div>
            <app-detailed-vehicle [vehicleObj]="item" ></app-detailed-vehicle>
        </div>
    </section>
</div>
